<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
<div class="col-md-12">
  <h1>Weather Lookup</h1>

  <form>
    <div>
      <label for="the_address">Address:</label>
      <input id="the_address" type="text" name="address">
      <input type="submit" value="Get Weather">
    </div>
  </form>

  <dl>
    <dt>Address:</dt>
    <dd><%= @address %></dd>

    <dt>Latitude:</dt>
    <dd><%= @latitude %></dd>

    <dt>Longitude:</dt>
    <dd><%= @longitude %></dd>

    <dt>Current temperature:</dt>
    <dd><%= @temperature %></dd>

    <dt>Summary for the hour:</dt>
    <dd><%= @minutely_summary %></dd>

    <dt>Summary for the day:</dt>
    <dd><%= @hourly_summary %></dd>

    <dt>Summary for the week:</dt>
    <dd><%= @daily_summary %></dd>
  </dl>
</div>
