<h1>Weather Lookup</h1>

<dl>
  <dt>Latitude:</dt>
  <dd><%= @latitude %></dd>

  <dt>Longitude:</dt>
  <dd><%= @longitude %></dd>

  <dt>Current temperature:</dt>
  <dd><%= @temperature %></dd>

  <dt>Summary for the hour:</dt>
  <dd><%= @minutely_summary %></dd>

  <dt>Summary for the day:</dt>
  <dd><%= @hourly_summary %></dd>

  <dt>Summary for the week:</dt>
  <dd><%= @daily_summary %></dd>
</dl>
